.card{
    width: 280px;
    padding: 8px;
    border-radius: 2em;
    background-color: rgb(249, 243, 200);
    cursor: pointer;
    border: solid 3px rgb(249, 243, 200);
}
.card:hover{
    animation: cardHover 0.5s forwards;
}


@keyframes cardHover {
    100% {
    border-color: rgb(233, 39, 57);
    }
}

.card img{
    width: 100%;
    height: 230px;
    border-radius: 2em;
}

.card-content{
    margin: 1em;
    cursor: text;
    color: rgb(112, 46, 20);
}
