.card{
    width: 280px;
    padding: 8px;
    border-radius: 2em;
    background-color: rgb(249, 243, 200);
    cursor: pointer;
    border: solid 3px rgb(249, 243, 200);
}
.card:hover{
    animation: cardHover 0.5s forwards;
    cursor: pointer;
}


@keyframes cardHover {
    100% {
    border-color: rgb(112, 46, 20);
    }
}

.card img{
    width: 100%;
    height: 230px;
    border-radius: 2em;
}

.card-content{
    margin: 1em;
    cursor: text;
    color: rgb(112, 46, 20);
}

.addToCartBtn{
  border-radius: 5px;
  border: 1px solid;
  height: 3em;
  border-radius: 2em;
  width: 100%;
  background-color: rgb(252, 225, 60);
  color: rgb(112, 46, 20);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  font-weight: 600;
}


.addToCartBtn:hover {
  background-color:rgb(249, 243, 200);
}

.addToCartBtn:active {
  background-color: rgb(252, 225, 60);
}
