fieldset{
    width: 50%;
    margin: 3em auto;
    padding: 2em;
    padding-top: 1em;
    border-radius: 1em;
    border: 2px solid rgb(112, 46, 20);
    display: flex;
    flex-direction: column;
}
legend {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.2em;
  color: rgb(112, 46, 20);
}

.cart-item {
    display: grid;
    grid-template-columns: 100px 220px 165px 115px 1px;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1em;
}

.cart-item h3{
    color: rgb(112, 46, 20);
}
.cart-item p{
    color: rgb(112, 46, 20);
}

.quantity-controls button{
    padding: 4px;
    margin: 10px;
    width: 20px;
    color: rgb(112, 46, 20);
    border: 1px solid rgb(252, 225, 60);
    background-color: rgb(252, 225, 60);
    transition: background-color 0.2s ease;
    outline: none;
    border-radius: 5px;
}

.quantity-controls button:hover{
    background-color:rgb(249, 243, 200);
}
.quantity-controls span{
    color: rgb(112, 46, 20);
}
.remove-btn{
    padding: 4px;
    justify-self: end;
    border: 1px solid rgb(252, 225, 60);
    border-radius: 4px;
    color: rgb(112, 46, 20);
    background-color: rgb(252, 225, 60);
    transition: background-color 0.2s ease;
}
.remove-btn:hover{
    background-color:rgb(249, 243, 200);
}

.cart-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-summary p{
    color: rgb(112, 46, 20);
}

.cart-summary button{
  border-radius: 5px;
  border: 1px solid;
  height: 3em;
  width: 100%;
  margin-top: 1.2em;
  background-color: rgb(252, 225, 60);
  color: rgb(112, 46, 20);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  font-weight: 600;
}

.cart-summary button:hover {
  background-color:rgb(249, 243, 200);
}

.cart-summary button:active {
  background-color: rgb(252, 225, 60);
}